/* Reset default css settings */

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: $fontFamily;
}

html {
  scroll-behavior: smooth;
  font-size: 80%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ol,
ul,
dl {
  list-style-type: none;
}
